body {
    background: rgb(87, 87, 87);
}

.presentacion__container--flex {
    border-bottom: 2px solid rgb(255, 255, 255);
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

.item__list--config {
    height: 100%;
    width: 50vh;
}

.item__list--add {
    height: 100%;
    width: 30vh;
}

.sub__item--flex {
    display: flex;
}

.sub__image {
    height: 50px;
    margin-top: 1vh;
}

.sub__titulo {
    color: white;
    font-size: 25px;
    margin: auto auto;
    padding-left: 4vh;
    text-align: center;
}

.text__addnew {
    color: white;
    font-size: 18px;
    margin: auto auto;
    text-align: center;
    width: 20vh;
}

.singout__button {
    background: url(../../img/Plus\ icon.svg) no-repeat center;
    border: none;
    width: 20vh;
}

.singout__button:hover {
    border: 2px solid white;
}

/*small device*/
@media only screen and (max-width: 600px) {
    .sub__image {
        height: 25px;
        margin-top: 3vh;
    }

    .sub__titulo {
        font-size: 16px;
    }

    .text__addnew {
        font-size: 16px;
        margin-left: 10vh;
    }

    .singout__button {
        width: 10vh;
    }
}